/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

// npm run compile:sass

:root{
   --color-primary: #28282B ;
   --color-priamry-lite: #36454F; 
   --color-priamry-dark:#343434 ; 
   --color-Grey-light-1: #faf9f9;
   --color-Grey-light-2: #f4f2f2;
   --color-Grey-light-3: #f0eeee;
   --color-Grey-light-4: #ccc;

   --color-Grey-dark-1: #333;
   --color-Grey-dark-2: #777;
   --color-Grey-dark-3: #999;

   --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); 
   --shadow-light:  0 2rem 5rem rgba(0, 0, 0, 0.1);

   --line: 1px solid var(--color-Grey-light-2);


}

$bp-largest: 75em ;   //1200px
$bp-large: 68.75em ;   //1100px
$bp-medium: 56.25em ;   //900px 
$bp-small: 37.5em ;   //600px 
$bp-smallest: 31.25em ;   //500px 

*{
   margin: 0;
   padding: 0;
}
*,
*::before,
*::after{
   box-sizing: inherit; 
   font-size: 62.5%; //1rem =10px , 10px /16px = 62.5%
}
html{
   box-sizing: border-box;
   font-size: 62.5%;  //1rem = 10px , 10px/16px=62.5%

   @media only screen and (max-width: $bp-large) {
      font-size: 50%; 
   }

}
body{
   font-family: 'Open Sans',sans-serif;
   font-weight: 400;
   line-height: 1.6; 
   color: var(--color-Grey-dark-2);
   background-image: linear-gradient(to right bottom , var(--color-priamry-lite), var(--color-priamry-dark)); 
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 100vh;
}